.App {
  text-align: center;
  min-height: 100vh;
  padding: 5em;
  background-color: #F4FAFF;
  color: #08090A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}